<form (submit)="addOrganisation(addForm)" #addForm="ngForm">
  <label for="name">Organisation Name</label>
  <input type="text" id="oragnisationName" name="oragnisationName" ngModel />

  <label for="currency">Currency</label>
  <input type="text" id="currency" name="currency" ngModel />

  <button type="submit">Add Organisation</button>
</form>

<form (submit)="searchOrganisation(searchForm)" #searchForm="ngForm">
  <input
    type="text"
    id="name"
    name="name"
    ngModel
    placeholder="Organisation Name"
  />

  <button type="submit">Search Organisation</button>
</form>
